.App {
  text-align: center;
  padding: 2rem;
}

.nav-buttons {
  margin-bottom: 2rem;
}

.nav-button {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none; /* Remove underline */
  border-radius: 4px; /* Add rounded corners */
  transition: background-color 0.3s; /* Transition effect */
}

.nav-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

input {
  padding: 0.5rem;
  margin-right: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.task-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
